.musicPage {
  background: white;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 90%;
  height: 100%;
  margin: auto;
}

.barraSuperior {
  background-color: rgba(180, 180, 180, 0.9);
  border: none;
  min-height: 180px;
  margin-top: 0px;
}

.logo{
  width:180px;
  margin-top:25px;
  margin-left: 20px
}

.redes-sociales {
  margin-top: 120px;
  float: right;
}

.img-social {
  width: 60px;
  height: 60px;
  padding: 5px;
}

.navBar{
  background: rgb(180, 180, 180);
}

.imgPublic {
  width: 450px;
  height: 300px;
}

.imgPublic1 {
  margin-top: 30px;
}

.img-social:hover {
  width: 55px;
  height: 55px;
  background:white;
}

.coments{
  margin-top: 10px;
  margin-bottom: 25px;
}

.columnPublic{
  background: grey;
  padding: 0px;
}

.columnbusq{
  margin: 0px;
  padding: 0px;
}

.busq{
  margin-bottom: 15px;
}

/* MEDIA QUERYS*/
@media (max-width: 991px) {
.redes-sociales {
    padding: 10px;
    margin: 20px;
  }

.barraSuperior{
  background: white;
  text-align: center;
}

.img-social:hover {
    background:rgb(85, 174, 255);

}

.logo{
    width: 200px;
    float: none;
  }

.imgPublic{
  width: 100%;
  float: none;
}
}

@media (max-width: 767px) {
  .img-social {
  width: 40px;
  height: 40px;
  padding: 5px;

}
 }

@media (max-width: 770px) {
.redes-sociales, .logo {
    margin-left: auto;
    margin-right: auto;

  }
}
